/* === Fő elemek === */
@font-face {
    font-family: ErgoDefault;
    src: url("../sources/websiteElement/Heavitas.ttf");
}
:root{
    --offwhite:#FAF9F6;
}
*{
    font-family: ErgoDefault, serif;
   /* outline: 1px solid #f00 !important;/*overflow debugger*/

}

html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--offwhite);
    /*font-family: Arial, Helvetica, sans-serif;
       background-image: url("sources/backgroundtemp.png");
       background-repeat: repeat;*/
    word-break: break-word;
    hyphens: auto;
    animation: fader 1s forwards ease-in;

}
script{
    display: none;
}

nav{
    background: black;
    margin:-6pt ;
    padding-top: 10pt;
    padding-bottom: 10pt;
    position: fixed;
    height: fit-content;
    width: 100%;
    z-index:20;
    animation: downe 1s forwards;
    justify-content: unset;


}
nav a{
    transition:1s;

}
nav a:hover {
    background-color: gray;
    transform: scale(120%);
    border-radius: 30pt;
    display: block;
    color: turquoise;


}

nav ul{
    padding-left: 100pt;


}

nav ul li:not(.exception) {
    display: inline-block;
    padding-bottom: 2.5pt;
    padding-top: 2.5pt;
    font-size: x-large;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    animation: downe 1s forwards;
    border: turquoise 1pt solid;
    border-radius: 30pt;

}

nav ul li:hover{
    border: none;

}


.h1imitator{
    padding: 100pt 0 20pt;
    margin: 0 -6.2pt -2pt;
    font-size: x-large;
    border-style: solid;
    background-color: turquoise;
    text-align: center;
    display: block;
    position: static;

}

main{
    padding: 50pt 0 20pt;
    margin: 0 10%;
    align-content: center;
    text-align: justify;
    border-style: solid;

}
article{
    margin-left: 2%;
    margin-right: 2%;
    align-content: center;
    text-align: justify;

}

h3{
    display: none;
}
/* === Kiemelő === */
p:not(.pkek_first,.pkek_second)::before{
    content:"";
    display: block;
    background:turquoise;
    height: 10pt;

}

p:not(.pkek_first,.pkek_second)::after{
    content:"";
    display: block;
    background:turquoise;
    height: 10pt;

}
p.pkek_second::after{
    content:"";
    display: block;
    background:turquoise;
    height: 10pt;

}
p.pkek_first::before{
    content:"";
    display: block;
    background:turquoise;
    height: 10pt;

}

/* === Táblázat === */
table, th,td, tr{
    align-items: center;
    padding: 10pt;
    border: 1pt solid;
    height: 20pt;
    width: 100%;
    table-layout: fixed;
    text-align: center;

}
td{
    font-size: 15pt;
}
th{
    font-size: 16pt;
}

td.cancelled{
    color: red;
}

img.tablelogo{
    width: 30%;
    float: left;
    clear: top;
    max-width: 40pt;
}

/*idk*/
h2.mainold{
    align-content: center;
    text-align: center;
}

.logo{
    alignment: left;
    position: absolute;

}

.center {
    margin-left: auto;
    margin-right: auto;
}

label.szoveg{
    color: white;
    alignment: left;
    font-weight: bold;
}


#login-signup-pic-link{
    position: absolute;
    right: 150pt;
    top: 7pt;
}
#login-signup-pic{
    position: absolute;
    width: 60%;
    height: auto;
}

#login{
    position: fixed;
    top: 10pt;
    right: 1%;
}
/* === Linkek === */
a {
    color: white;
    text-decoration: none;
    padding:0 20pt;

}

a.twitch{
    color: blue;
}

a.newpage{
    color: blue;

}
/* === Lábléc === */
footer{
    text-align: center ;
    background: lightgray;
    vertical-align: center;
    horiz-align: center;
    padding: 0;
    margin: -2pt -6pt -6pt -6pt;
    border-style: solid;
}
/* === Képek leginkább === */
main div.picture > img{
    width: 35%;
    margin-left: -1000pt;
    align-content: center;
    border-radius: 300pt;
    z-index: 1;

}

img[alt="valorantchallengers"]{
    animation: hehe 1s forwards 1s ;
}
[alt="csgo"]{
    animation: hehe 1s forwards ;
}
/*preview::hover<-arnyek*/
.shopitem{
    background: lightgray;
    border-top: 2pt solid;
    border-bottom: none;
    text-align: center;

}
.shopitem:last-of-type{
    border-bottom: 2pt solid;
}

section > img:not(#cspic,#valopic,#rlpic) {
    width: 30%;
    align-content: center;
    border-radius: 30pt;
    z-index: 1;
    height: 100pt;
    width: auto;
}

#csteam,#valoteam,#rlteam{
    background-color: lightgray;
    text-align: center;

}
#csteam{
    border-top: black 1pt solid;
}
#cspic,#valopic,#rlpic{
    margin: 20pt 0;
}
.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.flex-container > .card{
    display: flex;
    flex-direction: column;
    flex: 1 1 100pt;

}
.card > img{

}
.card{
    align-items: center;
    border: black 1pt solid;
    background-color: lightgray;
    transition: transform 1s ease-in-out;


}
.card:hover{
    text-shadow: black 1pt 1pt;
    box-shadow: grey 2pt 2pt 2pt;
    transform: scale(130%);
    z-index: 19;

}
#valoteam div{


}
#rlteam div{

}
#csteam #cspic, #valopic,#rlpic{
    height: auto;
    width: 15%;
    align-content: center;
}
#csteam img:not(#cspic){
    height: auto;
    min-width: 150pt;
    width: 30%;

}
#valoteam img:not(#valopic){
    min-width: 100pt;
    width: 30%;
}
#rlteam img:not(#rlpic){
    min-width: 100pt;
    width: 30%;
}

/* === Űrlap és dolgai === */
#form{
    margin: 50pt 10% 20pt;
}
fieldset{
    display: grid;
    grid-gap: 5pt;
    padding: 0 10% 10pt;
    margin: 0 10%;
    border: 2pt solid ;
    text-shadow:3px 3px turquoise;
    min-width: 130pt;
}

input{
    border: 2pt solid ;
   min-width: 10pt;
}
#subscribe{
    width: fit-content;
}
legend{
    text-align: center;
}

strong{
    font-size: 30pt;
}
.required-label::after{
    content: "*";
    color: red;
}
.buttons{
    display: grid;
    grid-gap: 5pt;
    align-content: center;
    padding: 10pt 30%;

}
input[type="submit"]{
    background-color: black;
    color: turquoise;

}
input[type="reset"]{
    background-color: black;
    color: red;

}

/* === Vid/Aud/Anchor === */
audio{
    width: 50%;
}
video{
    margin-left: 25%;
    width: 50%;
}
#do-not-mind-me{
    display: block;
    height: 5%;
    width: 2.5%;
    border-radius: 50%;
    margin: 1% ;
    padding: 0;
    position: fixed;
    inset: auto 2.5% 2.5%;


}
img[alt="arrow"]{
    height: 100%;
    width: 30pt;
    border-radius: 50%;
    transform:rotate(180deg);

}

/*Animációk*/
@keyframes hehe {
    0%{
        transform:rotate(180deg);


    }

    100%{
        transform: translateX(1100pt);

    }
}

@keyframes downe {
    0%{
        transform: translateY(-200pt);
    }
    100%{

    }
}
@keyframes fader {
    0%{
        opacity: 0;
        color: var(--offwhite);
        background-color: black;
    }
    100%{
        opacity: 1;

    }
}


/*Nyomtatási stíluslap*/
@media print{
    nav,header,footer,img,audio,video,label.szoveg{
        display: none;
    }

    article,section{
        margin:0 20pt;
    }

    main{
        padding: 0 10pt;
        margin: 0 ;
        align-content: center;
        text-align: justify;
        border-style: solid;

    }
    h3{
        display: block;
    }
    h1{
        margin: 0;
        padding: 0;
        font-size: 25pt;
        text-align: center;
    }

    .h1imitator{
        padding: 20pt 0 !important;
        margin: 100pt -6.2pt -2pt;
        font-size: x-large;
        border-style: solid;
        background-color: turquoise;
        text-align: center;
        display: block;
    }
    section:nth-child(even){
        break-after: page;
    }


}

/*trick*/
@media (max-width: 661.5pt ) {
    .h1imitator {
        padding: 90pt 0 20pt;/*+10+30*/
    }
    nav ul li:not(.exception) {
        font-size: large;

    }
    th{
        font-size: 7pt;
        padding: 0;

    }
    td{
        font-size: 6pt;
        padding: 0;

    }



    @keyframes hehe {
        0%{


        }

        100%{
            transform: translateX(1020pt);

        }
    }
}
@media (max-width: 655.5pt ) {
    nav ul li:not(.exception) {
        font-size: small;

    }
}

@media (max-width: 512pt ) {
    .h1imitator {
        padding: 110pt 0 20pt;/*+10+30*/
    }
    td{

    }


}
/*1200+*/
@media (max-width: 1200px ) {
    article{
        font-size: 80%;
    }
}

