/* === Fő elemek === */
@font-face {
    font-family: ErgoDefault;
    src: url("../sources/websiteElement/Heavitas.ttf");
}
:root{
    --off-white:#FAF9F6;
}
*{
    font-family: ErgoDefault, serif;
    outline: 1px solid #f00 !important;/*overflow debugger*/

}

html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--off-white);
    hyphens: auto;
    animation: fade 1s forwards ease-in;

}

script{
    display: none;
}

nav{
    background: black;
    margin:-6pt ;
    padding-top: 10pt;
    padding-bottom: 10pt;
    position: fixed;
    height: fit-content;
    width: 100%;
    z-index:20;
    animation: down 1s forwards;
    justify-content: unset;


}
nav a:not(#login-signup__pic-link){
    transition: 1s;
    box-shadow: turquoise 0 0 2pt 2pt;

}

nav a:not(#login-signup__pic-link):hover {
    background-color: gray;
    transform: scale(1.2);
    border-radius: 30pt;
    display: block;
    color: turquoise;

}

nav ul{
    padding-left: 100pt;
}

nav ul li{
    display: inline-block;
    padding-bottom: 2.5pt;
    padding-top: 2.5pt;
    font-size: x-large;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    animation: down 1s forwards;
    border-radius: 30pt;

}

.h1-imitator{
    padding: 100pt 0 20pt;
    margin: 0 -6.2pt -2pt;
    font-size: x-large;
    border-style: solid;
    text-align: center;
    display: block;
    position: static;
    text-shadow:3px 3px turquoise;

}

main{
    padding: 50pt 0 20pt;
    margin: 0 10%;
    align-content: center;
    text-align: justify;
    border-style: solid;

}
article,.article-imitator{
    margin-left: 2%;
    margin-right: 2%;
    align-content: center;
    text-align: justify;

}

h3{
    display: none;
}
h4{
   text-align: center;
    text-decoration: underline;
    text-decoration-color: blue;
}


/* === Highlighters === */
p:not(.paragraph-highlighter__first,.paragraph-highlighter__second)::before,p:not(.paragraph-highlighter__first,.paragraph-highlighter__second)::after{
    content:"";
    display: block;
    background:turquoise;
    height: 10pt;

}

p.paragraph-highlighter__second::after,p.paragraph-highlighter__first::before{
    content:"";
    display: block;
    background:turquoise;
    height: 10pt;

}

section > h2:not(#cat-division)::before, section > h2:not(#cat-division)::after{
    content:"";
    display: block;
    background:turquoise;
    height: 10pt;
}
.more-space{
    text-align: center;
}


/* === Table === */
table, th,td, tr{
    align-items: center;
    padding: 10pt;
    border: 1pt solid;
    height: 20pt;
    width: 100%;
    table-layout: fixed;
    text-align: center;

}
td{
    font-size: 15pt;
}
th{
    font-size: 16pt;
}

td.cancelled{
    color: red;
}

img.table-logo{
    width: 30%;
    float: left;
    max-width: 40pt;
}

/* === Ids,Classes === */
h2.main-old{
    align-content: center;
    text-align: center;
}

.logo{
    position: absolute;

}

.center {
    margin-left: auto;
    margin-right: auto;
}

.twitch{
    word-break: break-word;
}

label.ergo-icon__text{
    color: white;
    font-weight: bold;
}

#login-signup__pic-link{
    position: absolute;
    right: 170pt;
    top: 7pt;
}
#login-signup__pic{
    position: absolute;
    width: 60%;
    height: auto;
}

#login{
    position: fixed;
    top: 10pt;
    right: 1%;
}

/* === Links === */
a {
    color: white;
    text-decoration: none;
    padding:0 20pt;

}

a.twitch{
    color: blue;
}

a.new-page{
    color: blue;

}
/* === Footer === */
footer{
    text-align: center ;
    background: lightgray;
    vertical-align: center;
    padding: 0;
    margin: -2pt -6pt -6pt -6pt;
    border-style: solid;
}
/* === Pictures === */
main div.picture > img{
    width: 35%;
    margin-left: -1000pt;
    align-content: center;
    border-radius: 300pt;
    z-index: 1;

}
img[alt="csgo"]{
    animation: pic-coming-in 1s forwards ;
}

img[alt="valorant-challengers"]{
    animation: pic-coming-in 1s forwards 1s ;
}

img[alt="team"]{
    animation: pic-coming-in 1s forwards 2s;
}

.shop-item{
    background: lightgray;
    border-top: 2pt solid;
    border-bottom: none;
    border-left: 2pt solid;
    border-right: 2pt solid;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;

}
.shop-item > img{
    width: 30%;
    align-content: center;
    border-radius: 10pt;
    z-index: 1;
    height: 100pt;
    width: auto;

}
.shop-item:last-of-type{
    border-bottom: 2pt solid;
}

section > img:not(#cs-pic,#valo-pic,#rl-pic) {
    width: 30%;
    align-content: center;
    border-radius: 30pt;
    z-index: 1;
    height: 100pt;
    width: auto;
}

#cs-team,#valo-team,#rl-team{
    background-color: lightgray;
    text-align: center;

}
#cs-team{
    border-top: black 1pt solid;
    border-right: 1pt solid;
    border-left: 1pt solid;
}
#valo-team{
    border-right: 1pt solid;
    border-left: 1pt solid;
}
#rl-team{
    border-right: 1pt solid;
    border-left: 1pt solid;
}
#cs-pic,#valo-pic,#rl-pic{
    margin: 20pt 0;


}
.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.flex-container > .card{
    display: flex;
    flex-direction: column;
    flex: 1 1 100pt;

}

.card,.shop-item > img{
    align-items: center;
    border: black 1pt solid;
    background-color: lightgray;
    transition: transform 1s ease-in-out;

}
.card:hover,.shop-item > img:hover{
    text-shadow: black 1pt 1pt;
    box-shadow: grey 2pt 2pt 2pt;
    transform: scale(1.3);
    z-index: 19;

}

#cs-team #cs-pic, #valo-pic,#rl-pic{
    height: auto;
    width: 15%;
    min-width: 80pt;
    align-content: center;
}
#cs-team img:not(#cs-pic){
    height: auto;
    min-width: 150pt;
    width: 30%;

}
#valo-team img:not(#valo-pic){
    min-width: 100pt;
    width: 30%;
}
#rl-team img:not(#rl-pic){
    min-width: 100pt;
    width: 30%;
}

/* === Form === */
#form-block{
    margin: 50pt 10% 20pt;
}
fieldset{
    display: grid;
    grid-gap: 5pt;
    padding: 0 10% 10pt;
    margin: 0 10%;
    border: 2pt solid ;
    text-shadow:3px 3px turquoise;
    min-width: 130pt;
}

input{
    border: 2pt solid ;
   min-width: 10pt;
}
#subscribe{
    width: fit-content;
}
legend{
    text-align: center;
}

strong{
    font-size: 30pt;
}
.label-required::after{
    content: "*";
    color: red;
}
.buttons{
    display: grid;
    grid-gap: 5pt;
    align-content: center;
    padding: 10pt 30%;

}
input[type="submit"]{
    background-color: black;
    color: turquoise;

}
input[type="reset"]{
    background-color: black;
    color: red;

}

/* === Vid/Aud/Anchor === */
audio{
    width: 50%;
}
video{
    margin-left: 25%;
    width: 50%;
}
#anchor-arrow__link{
    display: block;
    height: 5%;
    width: 2.5%;
    min-width: 20pt;
    border-radius: 50%;
    margin: 1% ;
    padding: 0;
    position: fixed;
    inset: auto 2.5% 5%;

}
img[alt="arrow"]{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transform:rotate(180deg);

}

/* === Animations === */
@keyframes pic-coming-in {
    0%{
        transform:rotate(180deg);


    }

    100%{
        transform: translateX(1100pt);

    }
}

@keyframes down {
    0%{
        transform: translateY(-200pt);
    }
}
@keyframes fade {
    0%{
        opacity: 0;
        color: var(--off-white);
        background-color: black;
    }
    100%{
        opacity: 1;

    }
}


/*Nyomtatási stíluslap*/
@media print{
    nav,header,footer,img,audio,video,label.ergo-icon__text{
        display: none;
    }

    article,section{
        margin:0 20pt;
    }

    main{
        padding: 0 10pt;
        margin: 0 ;
        align-content: center;
        text-align: justify;
        border-style: solid;

    }
    h3{
        display: block;
    }
    h1{
        margin: 0;
        padding: 0;
        font-size: 25pt;
        text-align: center;
    }

    .h1-imitator{
        padding: 20pt 0 !important;
        margin: 100pt -6.2pt -2pt;
        font-size: x-large;
        border-style: solid;
        background-color: turquoise;
        text-align: center;
        display: block;
    }
    section:nth-child(even){
        break-after: page;
    }


}

/*trick*/
@media (max-width: 661.5pt ) {
    .h1-imitator {
        padding: 90pt 0 20pt;/*+10+30*/
    }
    nav ul li{
        font-size: large;

    }
    th{
        font-size: 7pt;
        padding: 0;

    }
    td{
        font-size: 6pt;
        padding: 0;

    }



    @keyframes pic-coming-in {

        100%{
            transform: translateX(1020pt);

        }
    }
}
@media (max-width: 655.5pt ) {
    nav ul li{
        font-size: small;

    }
}

@media (max-width: 512pt ) {
    .h1-imitator {
        padding: 110pt 0 20pt;/*+10+30*/
    }


}
/*1200+*/
@media (max-width: 1200px ) {
    article{
        font-size: 80%;
    }
}

