@font-face {
    font-family: ErgoDefault;
    src: url("sources/Heavitas.ttf");
}

*{
    font-family: ErgoDefault;

}

body{
    background-color: white;
 /*font-family: Arial, Helvetica, sans-serif;
    background-image: url("sources/backgroundtemp.png");
    background-repeat: repeat;*/


}
nav{
    background: black;
    margin:-6pt ;
    padding-top: 10pt;
    position: fixed;
    height: 80pt;
   width: 10000pt
}
nav a:hover {
    background-color: gray;

}


nav ul{
    padding-left: 100pt;
}

nav ul li{

    display: inline-block;
    padding-bottom: 5pt;
    font-size: x-large;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
header{
    position: fixed;
    margin: 10pt 290pt;
    color: white;
}
main{
   padding: 100pt 0pt;
}
.picture{

}
div > img{
    width: 300pt;
    margin: 0pt 200pt;

}
section{

}

article{
    margin: 0pt 100pt;
    align-content: center;
    text-align: justify;

}

table, th, tr{
    align-items: center;
    padding: 10pt;
    border: 1pt solid;
    height: 20pt;
    width: 800pt;

}

.logo{
    alignment: left;
    position: absolute;

}

.center {
    margin-left: auto;
    margin-right: auto;
}

label.szoveg{
    color: white;
    alignment: left;
    font-weight: bold;
}


a{
    color: white;
    text-decoration: none;
    padding:0pt 20pt ;

}

a.twitch{
    color: blue;
}

footer{
    text-align: center ;
    background: lightgray;
    vertical-align: center;
    horiz-align: center;
    padding: 0pt;
    margin: -6pt;

}


