@font-face {
    font-family: ErgoDefault;
    src: url("sources/Heavitas.ttf");
}
:root{
    --offwhite:#FAF9F6;
}
*{
    font-family: ErgoDefault;
    /*outline: 1px solid #f00 !important;*//*overflow debugger*/

}
body{
    background-color: var(--offwhite);
    /*font-family: Arial, Helvetica, sans-serif;
       background-image: url("sources/backgroundtemp.png");
       background-repeat: repeat;*/
    word-break: break-word;
    hyphens: auto;
}

nav{
    background: black;
    margin:-6pt ;
    padding-top: 10pt;
    padding-bottom: 10pt;
    position: fixed;
    height: fit-content;
    width: 100%;
    z-index:20;

}
nav a{
    transition: 1s;
}
nav a:hover {
    background-color: gray;
    transform: scale(120%);
    border-radius: 30pt;
    display: block;
    color: turquoise;

}

nav ul{
    padding-left: 100pt;
}

nav ul li{
    display: inline-block;
    padding-bottom: 5pt;
    font-size: x-large;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

}

.h1imitator{
    padding: 100pt 0pt 20pt;
    margin: 0pt -6.2pt -2pt;
    font-size: x-large;
    border-style: solid;
    background-color: turquoise;
    text-align: center;
    display: block;

}

p::before{
    content:"";
    display: block;
    background:turquoise;
    height: 10pt;

}
p::after{
    content:"";
    display: block;
    background:turquoise;
    height: 10pt;

}
main{
    padding: 50pt 0pt 20pt;
    margin: 0pt 100pt;
    align-content: center;
    text-align: justify;
    border-style: solid;

}
article{
    margin-left: 2%;
    margin-right: 2%;
    align-content: center;
    text-align: justify;

}
table, th,td, tr{
    align-items: center;
    padding: 10pt;
    border: 1pt solid;
    height: 20pt;
    width: 800pt;


}
td[rowspan="3"] {
    text-align: center;
    font-size: 30pt;
}

.picture{

}

section{

}


td.cancelled{
    color: red;
}

img.tablelogo{
    width: 40px;
    float: left;
}

.logo{
    alignment: left;
    position: absolute;

}

.center {
    margin-left: auto;
    margin-right: auto;
}

label.szoveg{
    color: white;
    alignment: left;
    font-weight: bold;
}


a {
    color: white;
    text-decoration: none;
    padding:0pt 20pt;

}
#login-signup-pic-link{
    position: absolute;
    right: 7%;
    top: 35%;
}

a.twitch{
    color: blue;
}

footer{
    text-align: center ;
    background: lightgray;
    vertical-align: center;
    horiz-align: center;
    padding: 0pt;
    margin: -2pt -6pt -6pt -6pt;
    border-style: solid;
}
/*Képek leginkább*/
div > img{
    width: 35%;
    align-content: center;
    border-radius: 300pt;
    z-index: 1;
    animation: hehe 1s forwards;
}

.shopitem{
    background: lightgray;
    border-right: 0pt;
    border-style: solid;

}

section > img:not(#cspic,#valopic) {
    width: 30%;
    align-content: center;
    border-radius: 30pt;
    z-index: 1;
    height: 100pt;
    width: auto;
}
img:is(#accpic){
    margin: 0;
    position: absolute;
}
#cspic #valopic{
    height: 5%;
    width: auto;
}
#csteam > img{
    height: 5%;
    width: auto;
}

/* Űrlap és dolgai nagyrészt*/
#form{
    margin: 50pt 100pt 20pt;
}
fieldset{
    display: grid;
    grid-gap: 5pt;
    padding: 0 100pt 10pt;
    margin: 0pt 100pt;
    border: 2pt solid ;
    text-shadow:3px 3px turquoise;
}

input{
    border: 2pt solid ;
}
#subscribe{
    width: fit-content;
}
legend{
    text-align: center;
}
fieldset > label{

}
strong{
    font-size: 30pt;
}
.required-label::after{
    content: "*";
    color: red;
}
.buttons{
    display: grid;
    grid-gap: 5pt;
    align-content: center;
    padding: 10pt 300pt;

}
input[type="submit"]{
    background-color: black;
    color: turquoise;

}
input[type="reset"]{
    background-color: black;
    color: red;

}
#login-signup-pic{
    position: absolute;
    right: 7%;
    top: 35%;
}
#login{
    position: fixed;
    right: 2.25%;
}
audio{
    width: 50%;
}
@media (max-width: 655.5pt ) {
    .h1imitator {
        padding: 130pt 0pt 20pt;
    }
}

@media (max-width: 446pt ) {
    .h1imitator {
        padding: 160pt 0pt 20pt;
    }
}

/*Animációk*/
@keyframes hehe {
    0%{
        transform: translateX(-1000pt)rotate(180deg);


    }
    50%{

    }
    100%{
        transform: rotate(360deg) translateX(45%);

    }
}

/*preview::hover<-arnyek*/

/*Nyomtatási stíluslap*/
@media print{
    nav,header,footer,img,label.szoveg{
        display: none;
    }

    article,section{
        margin:0pt 20pt;
    }
    main{
        margin: 0pt;
    }
    h1,h1::first-letter{
        margin: 0pt;
        padding: 0pt;
        font-size: 25pt;
        text-align: center;
    }

    .h1imitator{
        padding: 0pt 0pt 20pt;
        margin: 100pt -6.2pt -2pt;
        font-size: x-large;
        border-style: solid;
        background-color: turquoise;
        text-align: center;
        display: block;
    }

}

